RPC_URL=
FALLBACK_RPC_URL=
FEE_RECEIVER_ADDRESS=
LIQUIDATOR_PRIVATE_KEY=
PORT=8080
FROM_BLOCK=
INTERVAL_MS=
VAULT_ADDRESS=
POSITION_MANAGER_ADDRESS=
MAX_PROCESS_BLOCK=2000
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=27017
DB_NAME=liquidator
